<div class="header">
  <div class="title">
    <a href="/"><img src="/images/LyteDev.png" alt="logo" /></a>
    <h1><%= title %></h1>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="<%= aboutActive %>"><a href="/about">About</a></li>
    <li class="<%= contactActive %>"><a href="/contact">Contact</a></li>
    <li class="<%= projectsActive %>"><a href="/projects">Projects</a></li>
    <li class="<%= servicesActive %>"><a href="/services">Services</a></li>
  </ul>
</div>
