<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Morrison Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/partials.css" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <main class="main">
      <h1>Welcome to my portfolio!</h1>
      <p>
        Thank you for visiting my website. Please take a look at my projects and
        feel free to contact me if you have any questions. <br />
        <br />
        My mission is to help you grow as a software engineer. I have a passion
        for creating innovative solutions that make a positive impact on the
        world.
      </p>
      <div class="pages">
        <%- include ('partials/pages-box.ejs', { pageLink: "/about", imageSrc:
        "images/LyteDev.png", imageAlt: "imageAlt", pageText: "About Me" }) %>
        <%- include ('partials/pages-box.ejs', { pageLink: "/projects",
        imageSrc: "images/LyteDev.png", imageAlt: "imageAlt", pageText:
        "Projects" }) %> <%- include ('partials/pages-box.ejs', { pageLink:
        "/contact", imageSrc: "images/LyteDev.png", imageAlt: "imageAlt",
        pageText: "Contact" }) %> <%- include ('partials/pages-box.ejs', {
        pageLink: "/services", imageSrc: "images/LyteDev.png", imageAlt:
        "imageAlt", pageText: "Services" }) %>
      </div>
    </main>
  </body>
  <%- include ('partials/footer.ejs') %>
</html>
